.content__list h5 {
    font-family: Heebo;
    font-size: 12.8px;
    font-weight: 500;
    line-height: 17.92px;
    letter-spacing: 0.800000011920929px;
    color: #03AEAFF5;
}

.content__list h4 {
    font-family: Lora;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}