
.sort__bo7 {
  box-shadow: 0px 10px 40px 0px #00000014;
  margin-top: 40px;
  padding: 10px;
  border-radius: 16px;
  background: #FFFFFF;
  width: 370.66px;
  height: 134.88px;
  background-image: url('./img/div\ \(6\).png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 265px;

}

.sort__bo8 {
  box-shadow: 0px 10px 40px 0px #00000014;
  margin-top: 40px;
  padding: 10px;
  border-radius: 16px;
  background: #FFFFFF;
  width: 370.66px;
  height: 134.88px;
  background-image: url('./img/div\ \(6\).png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 265px;

}

.box__title {
  font-size: 19.2px;
  font-weight: 500;
  color: #323233;
}

.box__par {
  margin-bottom: 40px;
}

.xizmatlar__texts h5 {
  font-family: Heebo;
  font-size: 12.8px;
  font-weight: 500;
  line-height: 17.92px;
  text-align: left;
  color: #3585F9;

}

.xizmatlar__texts h4 {
  font-family: Lora;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}