@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header {
    max-width: 100%;
    height: 100px;
    background: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inner {
    display: flex;
    align-items: center;
    gap: 100px;
}

.uchrashuv__buton {
    max-width: 190px;
    height: 50px;
    border-radius: 100px;
    border: none;
}

.inner a {
    color: #000;
    font-family: Heebo;
    font-size: 14.4px;
    font-weight: 500;
    line-height: 17.28px;
    letter-spacing: 0.1599999964237213px;
}

.of {
    max-width: 100%;
}


input {
    outline: none;
}

header {
    width: 100%;
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

li {
    list-style: none;
}

.inner {
    display: flex;
    align-items: center;
    gap: 50px;
}


.offcanvas__h3 {
    font-size: Work Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 42.23px;
    color: #fff;
    text-align: center;
}

.burger__button {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.offcanvas__p {
    font-family: Work Sans;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

input::placeholder {
    color: #000;
}

.header__inp__n1 {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.header__inp input {
    width: 300px;
    height: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    padding: 0 10px;
}

.header__inp1 input {
    width: 300px;
    height: 65px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    padding: 0 10px;
}


.offcanvas-body {
    margin-top: 150px;
}



.custom-select {
    font-family: Work Sans;
    margin-top: 40px;
    width: 300px;
    height: 65px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    outline: none;
    border: none;
    appearance: none;
    background-image: url('./img/Icon.png');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
}

.close {
    position: absolute;
    font-size: 25px;
    right: 0;
    padding: 70px 30px;
    top: 0;
    display: none;
}

.header__select {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 20px;
}

.buuton {
    display: flex;
    justify-content: center;
}

.buttooon {
    background: #41A2F9;
    width: 635px;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 40px;
    color: #fff;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
}

@media screen and (max-width: 990px) {
    .burger__button {
        display: flex;
    }

    .close {
        display: flex;
    }

    .inner {
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -90%;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 10px 40px 0px #00000014;
        z-index: 999 !important;
        transition: .5s;
    }

    .nav__active {
        right: 0;
    }
}